.right-nav
    padding: 8px 0 0 8px
    overflow-y: hidden scroll

    .item
        height: 28px
        font-size: 20px
        opacity: 0.3
        transition: all .3s

    .focused-lecture
        opacity: 1